<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Untitled Document</title>
	</head>
	<body>
		<select name="mydropdown" id="mydropdown">
			<option value="greater"> > </option>
			<option value="less"> < </option>
			<option value="equals">==</option>
			<option value="lesseq"><=</option>
			<option value="greatereq">>=</option>
			<option value="between">between</option>
			</select>
	</body>
</html>
